@import "../../global.scss";

.works {
  background-color: rgb(252, 240, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include sm {
    height: 70%;
    flex-direction: column;
  }

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;

    @include sm{
      display: none;
    }
    @include md{
      display: none;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 500px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include md{
      height: auto;
      flex-direction: column;
      justify-content: center;
    }

    @include sm{
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 60vw;
        height: 90%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include sm{
          width: 95%;
          height: 155px;
          margin: 5px 0;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        @include md {
          width: 95%;
          height: 195px;
          margin: 5px 0;
          overflow: hidden;display: flex;
          align-items: center;
          justify-content: center;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          @include sm{
            display: none;
          }

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

              @include md {
                width: 20px;
                height: 20px;
              }

              img {
                width: 25px;

                @include md {
                  width: 15px;
                }
              }
            }
            h2 {
              font-size: 20px;

              @include md{
                font-size: 13px;
              }
            }
            p {
              font-size: 13px;
              @include md{
                display: none;
              }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          @include sm{
            flex-direction: column;
            justify-content: space-evenly;
          }

          img {
            width: 600px;

            @include sm{
              width: 70%;
            }
          }
        }
      }
    }
  }
}
.work-text{
  display: flex;
  flex-direction: row;
  align-content: center;
  
}